@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: white;
}

html.dark,
body.dark {
  background: #020617;
}

@layer base {
  ::selection {
    background-color: rgba(255, 235, 59, 0.6);
    color: #000;
  }

  .dark ::selection {
    background-color: rgba(255, 214, 0, 0.75);
    color: #000;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }
}
