.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply relative;
}

.prose .heading-anchor {
  @apply ml-2 text-slate-400 no-underline opacity-0 transition-opacity;
}

.prose :is(h1, h2, h3, h4, h5, h6):hover .heading-anchor {
  @apply opacity-100;
}
